
#site-header {
  display: flex; width: 100%;
  justify-content: space-between; /* Un logo à gauche, un à droite */
  align-items: flex-start;        /* Alignement en haut */
  padding: 0px;
  position: relative;             /* Facultatif, utile pour un fond ou positionnement interne */
}

header img {
  height: 40px;  /* ajuste selon la taille souhaitée */
  width: auto;
}
